bins
nw_elf.dll
nw_200_percent.pak
nw_100_percent.pak
nw.exe
nw.dll
node.dll
locales/zh-CN.pak.info
locales/zh-CN.pak
locales/en-XA.pak.info
locales/en-XA.pak
locales/en-US.pak.info
locales/en-US.pak
locales/en-GB.pak.info
locales/en-GB.pak
libGLESv2.dll
libEGL.dll
icudtl.dat
ffmpeg.dll
d3dcompiler_47.dll
resources.pak
v8_context_snapshot.bin
vk_swiftshader.dll
vk_swiftshader_icd.json
vulkan-1.dll
